@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Dancing+Script&family=Merriweather:ital@0;1&family=Montserrat:wght@500;600&family=Pacifico&family=Pixelify+Sans&family=Tilt+Neon&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    @apply text-sec
}
html{
    height: 100%;
    width: 100%;
    
}
#root{
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

/* #tilt {
  display: block;
height: 500px;
  width: 500px;


  margin: 0 auto;
  transition:  transform 0.1s;
    transform-style: preserve-3d;
    
    margin-top: 100px;
}

#tilt:hover {
  
  cursor: pointer;
} */
