@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:wght@500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    height: 100%;
    width: 100%;
    
}
#root{
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}
