@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Dancing+Script&family=Merriweather:ital@0;1&family=Montserrat:wght@500;600&family=Pacifico&family=Pixelify+Sans&family=Tilt+Neon&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    @apply text-sec
}
html{
    height: 100%;
    width: 100%;
    
}
#root{
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

/* #tilt {
  display: block;
height: 500px;
  width: 500px;


  margin: 0 auto;
  transition:  transform 0.1s;
    transform-style: preserve-3d;
    
    margin-top: 100px;
}

#tilt:hover {
  
  cursor: pointer;
} */
.parallax-effect {
    background-image: url("./assets/cardetemp.png");


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;
  display: flex;
  width: 200px;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

/* transform: translateZ(150px); */
  transform-style: preserve-3d;

}
.parallax-effectt {
    background-image: url("./assets/cardftemp.png");


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;
  display: flex;
  width: 220px;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  
  transform-style: preserve-3d;

}
.inner-elementland {

  
  /* transform-style: preserve-3d; */

  transform: translateZ(70px);
}
.inner-element {

  
  transform-style: preserve-3d;

  transform: translateZ(120px);
}
.inner-elementt {

  


  transform: translateZ(100px);
}